
body {
    display: flex;
    justify-content: center;
    background-color: #152B51;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

img {
    width: 250px;
    height: auto;
}

.container {
   top: 200px;
    background-color: #213e6e;
    width: 840px;
    height: 480px;
    position: absolute;
    overflow: hidden;
    border-radius: 50px;
}

.section-input {
    position: absolute;
    width: 420px;
    height: 480px;
}

.section-change {
    position: absolute;
    width: 420px;
}

.input {
    color: #e9dada;
    font-weight: 500;
    font-size: 15px;
    width: 280px;
    height: 23px;
    padding: 10px 4px;
    margin-top: 15px;
    margin-left: 50%;
    transform: translateX(-50%);
    border: none;
    border-bottom: 1px solid black;
    border-radius: 5px;
    outline: none;
    background-color:rgba(153,51,51, 0.8) ;
    box-shadow: 0px 2px 5px #152B51;
}

::placeholder {
    color: #e9dada;
}

button {
    width: 150px;
    padding: 20px;
    font-size: large;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 340px;
}

.submit-btn {
    background-image: linear-gradient(to right, #da9ca8, #e9dada);
    color:#1D1E2C;
}

.page-btn {
    background-image: linear-gradient(to right, #152B51, #993333);
    color: #F9F5E3;
}

#login {
    left: 0px;
    transition: 0.5s;
}

#signup {
    left: 900px;
    transition: 0.5s;
}

.section-input h1 {
    font-size: 45px;
    display: inline-block;
    color: #F9F5E3;
    margin-top: 50px;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
}

.section-change {
    color: #1D1E2C;
    width: 420px;
    height: 480px;
    background-color: #FFADBC;
}

.section-change h1 {
    font-size: 45px;
    margin-top: 50px;
    margin-left: 40%;
    transform: translateX(-50%);
}

.section-change p {
    font-size: x-large;
    margin-top: 100px;
    margin-left: 40%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#over-login {
    left: 420px;
    transition: 0.5s;
}

#over-signup {
    left: -800px;
    transition: 0.5s;
}

.error-message {
    color: #ff4d4d;
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
}
