body {
    display: flex;
    justify-content: center;
    background-color: #152B51;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-close {
    display: flex;
    float: right;
}

button {
    font-size: 15px;
}

#close {
    margin-right: 10px;
    margin-top: 8px;
    border: 1px solid;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    font-size: 25px;
    color: #F9F5E3;
}

#close:hover {
    background-color: #993333;
}

.container{
    background-color: #213e6e;
    width: 840px;
    height: 600px;
}

h1 {
    color: #F9F5E3;
    font-size: 45px;
    margin-top: 70px;
    margin-left: 50px;
    border-bottom: 1px solid #993333;
    width: 350px;
}

.input-text {
    margin-left: 50px;
    margin-bottom: 10px;
    display:flex;
}

::placeholder {
    color: #F9F5E3;
}

.top-part {
    height: 155px;
    display: flex;
}
#titel {
    font-size: 16px;
    width: 300px;
    height: 45px;
    padding: 0px 5px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid black;
    background-color: rgba(218,156,168, 0.8);
    box-shadow: 0px 2px 5px #152B51;
    color: #F9F5E3;
}

#datum {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    height: 45px;
    margin-left: 10px;
    padding: 0px 5px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid black;
    background-color: rgba(218,156,168, 0.8);
    box-shadow: 0px 2px 5px #152B51;
    color: #F9F5E3;
}

#beschreibung {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-left: 50px;
    width: 520px;
    height: 65px;
    border: none;
    padding: 1px 5px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid black;
    background-color: rgba(218,156,168, 0.8);
    box-shadow: 0px 2px 5px #152B51;
    color: #F9F5E3;
    resize: vertical;
    max-height: 90px;
}

.zeit {
    margin-left: 25px;
    margin-top: 5px;
    font-size: large;
}

label {
    color: #F9F5E3;
    font-weight: 500;
}

#startZeit{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100px;
    height: 30px;
    padding: 0px 5px;
    margin-left: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(218,156,168, 0.8);
    box-shadow: 0px 2px 5px #152B51;
    color: #F9F5E3;
    font-size: 16px;
}

#endeZeit {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100px;
    height: 30px;
    padding: 0px 5px;
    margin-left: 31px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(218,156,168, 0.8);
    box-shadow: 0px 2px 5px #152B51;
    color: #F9F5E3;
    font-size: 16px;
}

.beginn-time {
    margin-bottom: 15px;
}

.users {
    margin-left: 50px;
    margin-top: 27px;
    display: flex;
}

#input-addUser {
    font-size: 16px;
    width: 220px;
    height: 36px;
    padding: 0px 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(218,156,168, 0.8);
    box-shadow: 0px 2px 5px #152B51;
    color: #F9F5E3;
}

#addUser-btn{
    margin-left: 8px;
    width: 100px;
    height: 36px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #993333;
    box-shadow: 0px 2px 5px #152B51;
    color: #F9F5E3;
}

#addUser-success{
    margin-left: 50px;
    position: absolute;
    color: #993333;
    width: 328px;
    padding-left: 5px;
    padding-bottom: 2px;
    font-size: 16px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.6);
    display: none;
}

#addUser-failed{
    margin-left: 50px;
    position: absolute;
    color: #993333;
    width: 490px;
    padding-left: 5px;
    padding-bottom: 2px;
    font-size: 16px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.6);
    display: none;
}

#verwerfen {
    margin-left: 190px;
    margin-top: 60px;
    width: 140px;
    height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #993333;
    box-shadow: 0px 2px 5px #152B51;
    color: #F9F5E3;
}

#speichern {
    margin-left: 10px;
    width: 90px;
    height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #993333;
    box-shadow: 0px 2px 5px #152B51;
    color: #F9F5E3;
}

.tabelle-user {
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 335px;
    height: auto;
    max-height: 150px;
    border: 1px solid white;
    border-radius: 5px;
    color: #F9F5E3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

th {
    background-color: #993333;
    border-bottom: 1px solid #F9F5E3;
    font-weight: 500;
}

td {
    background-color: rgba(218,156,168, 0.6) ;
    border-bottom: 1px solid #F9F5E3;
    border-right: 1px solid #F9F5E3;
}

#output-addUser {
    width: 215px;
    max-width: 215px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.removeUser-btn{
    background-color: transparent;
    color: #993333;
    border: 1px solid;
    cursor: pointer;
    font-weight: 600;
    padding-left: 5px;
}

.removedUser-success {
    margin-left: 50px;
    position: absolute;
    color: #993333;
    width: 247px;
    padding-left: 5px;
    padding-bottom: 2px;
    font-size: 16px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 170px;
    opacity: 1;
}

.removedUser-failed {
    margin-left: 50px;
    position: absolute;
    color: #993333;
    width: 320px;
    padding-left: 5px;
    padding-bottom: 2px;
    font-size: 16px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 170px;
    opacity: 1;
}






