body {
    display: flex;
    justify-content: center;
}

.btn-close {
    display: flex;
    float: right;
}

#close {
    margin-right: 40px;
    margin-top: 20px;
    border: 1px solid;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    font-size: 25px;
}

#close:hover {
    background-color: red;
}

.container{
    background-color: aqua;
    width: 800px;
    height: 500px;
}

h1 {
    background-color: azure;
    font-size: 45px;
    text-align: center;
    margin-top: 70px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
}

.input-text {
    margin-left: 50px;
    margin-bottom: 10px;
}

#titel {
    width: 400px;
    height: 45px;
    margin-right: 5px;
    padding: 0px 5px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid black;
}

#datum {
    width: 250px;
    height: 45px;
    padding: 0px 5px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid black;
}

#beschreibung {
    margin-left: 50px;
    margin-bottom: 10px;
    width: 673px;
    height: 60px;
    border: none;
    padding-left: 4px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid black;
}

.details {
    display: flex;
}

.zeit {
    margin-left: 50px;
    margin-bottom: 10px;
    font-size: large;
}

#startZeit{
    width: 100px;
    height: 30px;
    padding: 0px 5px;
    margin-left: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#endeZeit {
    width: 100px;
    height: 30px;
    padding: 0px 5px;
    margin-left: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.beginn-time {
    margin-bottom: 10px;
}

.users {
    margin-left: 50px;
}

#addUsers {
    width: 220px;
    height: 30px;
}

#showUsers{
    width: 140px;
    height: 36px;
    white-space: nowrap;
    cursor: pointer;
}

#speichern {
    float: right;
    margin-right: 100px;
    width: 90px;
    height: 30px;
    cursor: pointer;
}





