body {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

.container {
    background-color: aliceblue;
    width: 700px;
    height: 400px;
    position: absolute;
    margin-top: 70px;
    overflow: hidden;
}

.section {
    position: absolute;
    width: 300px;
}

.input {
    width: 80%;
    padding: 10px 3px;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 100px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.page-btn {
    width: 100px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

#login {
    left: 40px;
    transition: 0.5s;
}

#signup {
    left: 800px;
    transition: 0.5s;
}

#over-login {
    background-color: rgb(253, 42, 42);
    width: 350px;
    height: 400px;
    position: absolute;
    left: 350px;
    transition: 0.5s;
    padding-left: 15px;
}

#over-signup {
    background-color: rgb(49, 216, 34);
    width: 350px;
    height: 400px;
    position: absolute;
    left: -800px;
    transition: 0.5s;
    padding-left: 15px;
}